<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Термообработка Леспром ДВ</title>
	<link rel="shortcut icon" href="{% static '/web/img/favicon.ico'%}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/contact.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/include.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/web/css/mobile.css' %}">
</head>
<body>
	{% block content %}

	<div class="header" style="background-image: url({% static '/web/img/contact-bg.png' %})">
		{% include 'menu.html' %}

		<div class="header-info">
			<div></div>
			<div class="header-title">ООО “Леспром ДВ”</div>
			<div style="margin: 10px 0; width: 80%; border-bottom: 3.5px solid white;"></div>
			<div style="font-size: 35px">Компания, которая ценит вас и ваше время</div>
			<div></div>
		</div>

		<a href="#helo">
			<div class="header-swipe" >
				<div class="arrow"></div>
			</div>
		</a>	
	</div>

	<div class="block" id="helo">
		<div style="font-family: MonBold; text-align: center;">Вас приветствует компания ООО “Леспром ДВ”!</div>
		<br>
		Лесопромышленная компания ООО «Леспром ДВ» образована и работает в области производства круглых лесоматериалов с 2011г. Производственные площади предприятия используются для обработки, переработки и отправки круглого леса и пиломатериалов. В производственном процессе задействованы автотракторная лесозаготовительная техника, лесопильное оборудование, станочный парк деревообрабатывающего оборудования, оборудование по переработке отходов лесопиления, сушильные камеры, погрузо-разгрузочные полигоны оснащённые электро-крановыми агрегатами. Компания имеет на балансе собственный автопарк как на внутренних грузоперевозках так и на международном сообщении. Лесопродукция отпускается (перевозится) железнодорожным и автомобильным транспортом.
		<br><br>
		Основными видами деятельности компании является лесозаготовка, деревообработка, глубокая деревопереработка, а так же реализация продукции на внешнем и внутреннем рынках. Работа компании ориентирована на производство готовой продукции из дерева. Компания участвует в официальных аукционах, занимается планированием производственных процессов, успешно осуществляет ресурсное обеспечение. Предприятие имеет заслуженную репутацию на Дальневосточном и международном рынках, как производитель и поставщик собственной высококачественной лесопродукции.
		<br><br>
		Компания производит пилопродукцию различного ассортимента хвойных и лиственных пород, столярные изделия, биотопливные древесные гранулы, шпон лущеный. Основная продукция предприятия используется для производства строительных материалов, готовых столярных изделий и мебели.
	</div>

	<div class="block">
		<div class="contact-info">
			<div>
				Термообработка древесины<br>
				“Леспром Термообработка”<br><br>

				<b>Адрес:</b><br>
				ул.Хабаровская 8, оф 203<br>г. Хабаровск, 680009<br><br>

				<b>Номера:</b><br>
				+ 7 (914) 318-57-77 - Представитель<br>
				+7 (914)-416-08-71 - Генеральный директор<br>
				+7 (914)-202-89-84 - Исполнительный директор<br><br>

				<b>E-mail:</b><br>
				info@lespromdv.ru

				<br><br>
				<b>Время работы:</b><br>
				пн-пт 9:00-18:00<br>
				сб-вс выходной
			</div>
			<div style="min-height: 400px;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.1560341088652!2d135.10286581614892!3d48.49189987925327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5efac201d2afcd2d%3A0x409dcfa4d6c26f48!2z0JvQldCh0J_QoNCe0Jwg0JTQkg!5e0!3m2!1sru!2sru!4v1614574591648!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
		</div>
	</div>

	<div class="block" id="form">
		<form method="POST" >
			<div class="contact">
				<div class="contact-form-headline">
					Напишите нам
				</div>
				{% csrf_token %}
				<div class="contact-element">
					{{ form.FIO }}
				</div>
				<div class="contact-element">
					{{ form.phone }}
				</div>
				<div class="contact-element">
					{{ form.email }}
				</div>
				<div class="contact-element">
					{{ form.comment }}
				</div>
				<div class="contact-btn-block">
					<button type="submit" class="contact-btn">Написать</button>
				</div>
			</div>
		</form>
	</div>
	

		{% include 'footer-cont.html' %}
	{% endblock %}
</body>
</html>