<footer>
	<div class="footer-contact">
		<div class="text footer-el">
			Термообработка древесины<br>
			“Леспром Термообработка”<br><br>
			
			<b>Адрес:</b><br>
			ул.Хабаровская,8 оф 20, г. Хабаровск, 680009<br><br>

			<b>Номера:</b><br>
			+ 7 (914) 318-57-77 - Представитель<br>
			+7 (914)-416-08-71 - Генеральный директор<br>
			+7 (914)-202-89-84 - Исполнительный директор<br><br>

			<b>E-mail:</b><br>
			info@lespromdv.ru
		</div>
		<div class="footer-el">
			<div style="text-align: center;">Свяжитесь с нами:</div>
			<a href="#form" style="text-decoration: none;">
				<div class="footer-btn">
					Связаться
				</div>
			</a>
			<div style="margin-top: 30px; float: right;">
			Время работы: пн-пт  9:00-18:00<br>
            сб-вс  выходной
            </div>
		</div>
	</div>
	<div class="footer-brand">
		<a href="http://lespromdv.ru/" target="_blank" class="footer-a">ЛеспромДВ</a> © 2011 - 2021<br>
		Code by:
		<a href="https://instagram.com/DirtyBytesCTF" target="_blank" class="footer-a">DirtyBytes</a>
		</div>
</footer>